<h3>{{ path }}</h3>
<table class="table table-striped">
	<thead>
		<th></th>
		<th>Name</th>
		<th>Size</th>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td>I</td>
			<td>{{ name }}</td>
			<td>{{ size }}</td>
		</tr>
		{{/each}}
	</tbody>
</table>